.c-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &--description {
    color: #a9a8a8;
    margin: 1.3rem 0;
  }

  &--helper-form-submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;

    > a {
      text-decoration: underline;
    }

    > button {
      width: 100%;
    }
  }

  &--form {
    max-width: 20rem;
    padding: 0 0.8rem;
    display: flex;
    flex-direction: column;

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
}
