.c-table {
  overflow-x: auto;

  &--helper {
    display: table;
    table-layout: fixed;
    min-width: 100%;
  }

  &--reset-head {
    > th {
      white-space: nowrap;
    }
  }
}
@media (max-width: 1070px) {
  .c-table {
    overflow-x: auto;
    width: 100%;

    &--helper {
      display: table;
      table-layout: fixed;
      width: 100%;
      max-width: 90%;
    }

    &--reset-head {
      > th {
        white-space: nowrap;
      }
    }
  }
}
